# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Playwright browsers
ms-playwright/

# OS junk
.DS_Store

kural-adapter/
dataset.jsonl
test_inference.py
check_token.py
push_to_hub.py
unsloth_compiled_cache/
*.pyc
__pycache__/